:root {
    --darkBlue: #021423;
    --lightBrown: #BDA393;
}

* {
    padding: 0;
    margin: 0;
}

body,html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: rgb(62,79,101);
    background: linear-gradient(140deg, rgba(62,79,101,1) 0%, rgba(31,40,51,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.iLogo{
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}
.wrapper {
    width: 450px;
    height: 500px;
    color: #fff;
    background: #293340;
    border-radius: 7.5px;
    -webkit-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    margin-right: 1rem; margin-left: 1rem;
}
    #betaCode-title {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 45px;
    }
    #betaCode-titleM{
        font-family: 'Montserrat';
        font-weight: bold;
        color: white;
        font-size: 40px;
    }
    #betaCode-titleS{
        font-family: 'Montserrat';
        font-weight: bold;
        color: white;
        font-size: 30px;
        margin-top: 1rem;
        padding-right: 3rem;
    }

    .input-wrapper {
        margin-top: 50px;
    }

        .form-inputs {
            height: 47px;
            border: none;
            text-align: center;
            border-radius: 10px;
            background-color: #3E4F65;
            color: #fff;
            font-size: 17px;
        }

            .form-inputs::placeholder {
                color: #ffffff3f;
            }

            .form-inputs:focus {
                outline: none;
                border: none;
                background-color: #3E4F65;
                -webkit-box-shadow: inset 0px 5px 24px -8px rgba(0,0,0,0.4);
                -moz-box-shadow: inset 0px 5px 24px -8px rgba(0, 0, 0, 0.4);
                box-shadow: inset 0px 5px 24px -8px rgba(29, 29, 29, 0.6);
            }

            .log-in-form {
                /* border: 1px solid #cacaca; */
                padding: 3rem;
                box-sizing: border-box;
                border-radius: 0;
            }

            .log-in-form p {
                float: right;
                font-size: 14px;
            }

            #login-btn {
                height: 47px;
                background: #3478C7;
                border-radius: 10px;
                outline: none;
            }

                #login-btn:focus {
                    background: rgb(43, 110, 185);
                }
.wrapper2 {
    width: 450px;
    height: 650px;
    color: #fff;
    background: #293340;
    border-radius: 7.5px;
    -webkit-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    margin-right: 1rem; margin-left: 1rem;
}
.wrapper3 {
    width: 450px;
    height: 400px;
    color: #fff;
    background: #293340;
    border-radius: 7.5px;
    -webkit-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    margin-right: 1rem; margin-left: 1rem;
}
.wrapper4 {
    width: 500px;
    height: 700px;
    color: #fff;
    background: #293340;
    border-radius: 7.5px;
    -webkit-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
    margin-right: 1rem; margin-left: 1rem;
}

#circle1 {
    position: fixed;
    z-index: -1;
    top: 120px;
    left: -95px;
    transform: scale(0.4);
}
#circle2 {
    position: fixed;
    z-index: -1;
    top: 500px;
    left: 150px;
    /* transform: scale(1.3); */
}
#circle3 {
    position: fixed;
    z-index: -1;
    top: 10px;
    right: 10px;
    transform: scale(0.6);
}
#circle4 {
    position: fixed;
    z-index: -1;
    top: 400px;
    right: 130px;
    transform: scale(0.5);
}
#circle5 {
    position: fixed;
    z-index: -1;
    top: -30px;
    left: 10%;
    transform: scale(0.6);
}
#circle6 {
    position: fixed;
    z-index: 3;
    top: 500px;
    left: -35px;
    transform: scale(0.6);
}
#circle7 {
    position: fixed;
    z-index: 3;
    top: 630px;
    left: 4%;
    transform: scale(1);
}
.sideM{
    height: 100%;
    padding: 1rem;
    box-shadow: 5px 5px 10px 6px rgba(0,0,0,0.5);
    z-index: 3;
    background: linear-gradient(140deg, rgba(62,79,101,1) 0%, rgba(31,40,51,1) 100%);
}
.damb{
    display: flex;
    height: 50px;
    width: 100%;    
    align-items: center;
    justify-content: center;
    background-color: #293340;
}
    .amborgesa{
        background-color: transparent;
        height: 25px;
        width: 25px;
    }
    .Iamb{
        width: 90%;
        height: 90%;
    }
.pinfo{
    display: flex;
    font-family: 'Montserrat';
    text-align: left;
    margin-bottom: -1rem;
}
/*INICIO DE MODIFICADO*/
.pestañas{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 1rem;
    box-shadow: 1px 0px 0px -4px rgba(0,0,0,0.75);
    background-color: #002240;
    color: white;
    padding-top: .5rem;
    height: 2rem;
}
#arriba{
    padding-left: 0rem; padding-right: 0rem; height: 70%; width: 100%; margin-bottom: 0rem
}
.escribirC{
    background-color: #36475B; color: white; width: 100%; height: 100%;
}
/*FIN DE MODIFICADO*/
.usuario{
    background-color: #36475B;
    border-radius: 10px;
    height:3rem;
    box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
}
#oUsuario{
    display: none;
    position: absolute; 
    left: 70px;
    top: 175px; 
    width: 180px; 
    height: 115px;
    background-color: #28374C; 
    border: none;  
    text-align: center;
    padding-top: .5rem;
    border-radius: 7.5px;
    z-index: 1;

}
    .oWhite{
        margin-top: .5rem;
        height: 2.5rem;
    }
    .oRed{
        height: 2.5rem;
        margin-top: -1rem;
    }
        .iconoB{
            padding-top: .6rem;
            padding-left: .3rem;
            height: 80%;
            width: 80%;
        }
        .iconoR{
            padding-top: .6rem;
            padding-left: .3rem;
            height: 80%;
            width: 80%;
        }
        .textW{
            color: white;
            padding-top: .5rem;
            font-family: 'Montserrat';
            font-weight: bold;
        }
        .textR{
            color: #FC3535;
            padding-top: .5rem;
            font-family: 'Montserrat';
            font-weight: bold;
        }
.dicono{
    height: 100%;
    padding-top: .3rem;
}
/*INICIO MODIFICADO*/
.lateral{
    width: 100%; height: 100%; z-index: 1;
}
/*FIN MODIFICADO*/
.colaborador{
    height: 2rem;
}
.textU{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
}
.icono{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.subT{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-top: 1rem;
}
.archivos{
    margin-left: 1rem;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-top: 1rem;
}
.textA{
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 15px;
    color: white;
}
    .iconoA{
        
        height: 60%;
        width: 60%;
    }
    .fileN{
        height: 2rem;
    }
    #oFile{
        display: none;
        position: absolute; 
        left: 50px; 
        top: 210px; 
        width: 195px; 
        height: 205px; 
        background-color: #28374C; 
        border: none;  
        text-align: center;
        padding-top: .5rem;
        border-radius: 7.5px;
        z-index: 7;
    }
    #mFile{
        display: flex;
        position: fixed; 
        left: 50px; 
        top: 210px; 
        width: 195px; 
        height: 205px; 
        background-color: #28374C; 
        border: none;  
        text-align: center;
        padding-top: .5rem;
        border-radius: 7.5px;
    }
    .iconoD{
        padding-top: .6rem;
        padding-left: .3rem;
        height: 70%;
        width: 70%;
    }
    .iconoC{
        padding-top: .6rem;
        padding-left: .3rem;
        height: 80%;
        width: 80%;
    }
    .iconoDe{
        padding-top: .6rem;
        padding-left: .3rem;
        height: 70%;
        width: 70%;
    }

.extra-nigga {
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
.wrande{
        font-size: 1rem;
        font-weight: normal;
}

/*MODIFICADO*/
.miniC{
    width: 15px; height: 15px; border-radius: 100px; background-color: red;
}
/*MODIFICADO*/

.dot{
    height: 30px;
    width: 30px;
    background-color: #26313E;
    border-radius: 50%;
    display: inline-block;
    padding-top: .1rem;
    box-sizing: border-box;
}

.codigo{
    padding: 1rem 2rem 1rem 2rem;
    background-color: #36475B;
    z-index: 6;
    height: 100%;
    height: 100%;
}
/* Custom Select Menu */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #293340;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #293340;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 3; /* Firefox */
}
#Acodigo{
    z-index: 6;
}
.bCode{
    /*padding-bottom: 1rem;*/
    height: 90%;
    background-color: #293340;
    box-shadow: 0px 5px 24px -4px rgba(0,0,0,0.75);
}
#console-div {
    overflow-y: scroll;
    margin-top: 1rem;
    box-sizing: border-box;background-color: black; padding: 1rem; margin-bottom: 0rem; width: 100%; height: 100%;
}
/*ScrollBar de la consola*/
#console-div::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
#console-div::-webkit-scrollbar-thumb {
  background: #808080; 
}

/* Handle on hover */
#console-div::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*ScrollBar de la consola*/

@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* body {
  background-color: black;
} */

.four-oh-four {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
  background-color: black;
  transition: opacity 300ms ease-out;
  background-position: center center;
  background-repeat: no-repeat;
}
.four-oh-four .dJAX_internal {
  opacity: 0.0;
}
.four-oh-four form, .four-oh-four input {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
}

.terminal {
  position: relative;
  box-sizing: border-box;
}
.terminal .prompt {
  color: #1ff042;
  display: block;
  font-family: 'AndaleMono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1;
  margin-bottom: 0.75em;
}
.terminal .prompt:before {
  content: '> ';
  display: inline-block;
}
.terminal .new-output {
  display: inline-block;
}
.terminal .new-output:after {
  display: inline-block;
  vertical-align: -0.15em;
  width: 0.75em;
  height: 1em;
  margin-left: 5px;
  background: #1ff042;
  box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
  -webkit-animation: cursor-blink 1.25s steps(1) infinite;
  -moz-animation: cursor-blink 1.25s steps(1) infinite;
  animation: cursor-blink 1.25s steps(1) infinite;
  content: '';
}

.kittens p {
  letter-spacing: 0;
  opacity: 0;
  line-height: 1rem;
}

.kitten-gif {
  margin: 20px;
  max-width: 300px;
}

.four-oh-four-form {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.container {
    background-color: #000;
}

.terminal {
    /* overflow-y: scroll; */
    height: 130px;
}
/*MODIFICADO*/
.imgG{
    width: 80%;
    height: 95%;
}
#download-btn {
    transform: translateY(-.6rem) scale(0.6);
}
/*MODIFICADO*/
/*ScrollBar del editor*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #002240; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #003455; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*Scrollbar del editor*/