<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="actions.js" defer></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js" integrity="sha256-kRbW+SRRXPogeps8ZQcw2PooWEDPIjVQmN1ocWVQHRY=" crossorigin="anonymous"></script>
	<title>BetaCode</title>
</head>
<body>
	<section class="columns large-2" style="height: 100%; background-color: #293340; padding: 1rem;">
		<div class="rows" style="background-color: red" >
			<p>Hola</p>
		</div>
		<div class="rows" style="background-color: red" >
			<p>Hola</p>
		</div>
	</section>
	<section class="columns large-10" style="height: 100%; background-color: blue; padding: 1rem;">
		<div class="large-1 columns pestañas" style="background-color: red; margin-bottom: -1rem;">
			<p>Pestaña</p>
		</div>
		<div class="columns large-12 codigo" style="background-color: purple; padding:1rem;">
			<div class="row large-12">
				<div class="" style="background-color: pink; width: 3%;">
					2
				</div>
				<div class="" style="background-color: green; width: 97%;">
					10
				</div>
			</div>
			
		</div>
		<div class="rows large-12 consola" style="background-color: white">
			<p>consola</p>
		</div>
		
	</section>
	<img src="../img/gradient_circle.svg" alt="page decoration" id="circle6">
	<img src="../img/gradient_circle.svg" alt="page decoration" id="circle7">
</body>
</html>