<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" integrity="sha256-CVkji/u32aj2TeC+D13f7scFSIfphw2pmu4LaKWMSY8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/styles.css">
	<script src="jquery.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js" integrity="sha256-ywN/tj+hfHxivU0KIDrKwL6lu3A8rrt2vnPIRkiM9z8=" crossorigin="anonymous"></script> -->
	<title>BetaCode</title>
</head>
<body>
	<div class="side-bar">
		<h1 id="main-title">BetaCode</h1>
		<button id="username-btn">Username</button>
		<h3 id="side-bar-title">Archivos</h3>
		<ul id="file-list">
			<li>ArchivoPrueba.py</li>
			<li>ArchivoPrueba.py</li>
			<li>ArchivoPrueba.py</li>
			<li>ArchivoPrueba.py</li>
		</ul>
		<h3 id="side-bar-title">Colaboradores</h3>
		<ul id="collab-list">
			<li>Andrés</li>
			<li>Uriel</li>
			<li>Pablo</li>
		</ul>
	</div>
	<!-- <div class="main-content"> -->
		<div id='container'>
			<div id="editor">
			</div>

			<button id="run-btn" onclick="compile()">&#9654;</button>
			
			<!-- <iframe id='iframe' frameBorder="0">
			</iframe> -->
	
		</div>	
	<!-- </div> -->
</body>
</html>

<script>
	// function update() {
	// 	var idoc = document.getElementById('iframe').contentWindow.document;

	// 	idoc.open();
	// 	idoc.write(editor.getValue());
	// 	idoc.close();
	// }

	function setupEditor() {
	window.editor = ace.edit("editor");
	editor.setTheme("ace/theme/cobalt");
	editor.getSession().setMode("ace/mode/python");
	//   editor.getSession().setMode("ace/mode/python");
	editor.setValue(`def hello(name):
	print("Hello ", name)`,1); //1 = moves cursor to end

	editor.getSession().on('change', function() {
		// update();
	});

	editor.focus();


	editor.setOptions({
		fontSize: "16pt",
		showLineNumbers: true,
		showGutter: false, 
		vScrollBarAlwaysVisible:true,
		enableBasicAutocompletion: false, enableLiveAutocompletion: false
	});

	editor.setShowPrintMargin(false);
	editor.setBehavioursEnabled(false);
	}

	// function ready() {
	// }
	setupEditor()
	// update()

	function compile() {
		let bodyContent = document.getElementsByTagName("body")
		bodyContent[0].innerHTML

		let url = "https://ide.geeksforgeeks.org/main.php"

		data = {
			"lang": "Python3",
			"code": 'print("hola")',
			"input": "",
			"save": false
		}

		// var xhr = new XMLHttpRequest();
		// xhr.open("POST", url, true);

		// //Send the proper header information along with the request
		// xhr.setRequestHeader("Content-Type", "application/json");
		// xhr.setRequestHeader("Access-Control-Allow-Origin", "148.220.");

		// xhr.onreadystatechange = function() { // Call a function when the state changes.
		// 	if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
		// 		// Request finished. Do processing here.
		// 		console.log(data["output"])
		// 	}
		// }
		// xhr.send(data);

		$.ajax({ 
            type: 'POST',
            url: 'https://ide.geeksforgeeks.org/main.php',
			data: data,
			cors: true,
			dataType: "jsonp",
            success: function(data){
                console.log(data["output"])
            }
		});
		
	}
	
</script>